/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Anybody, Arial, Helvetica, sans-serif;
  color: #FFFDF7;


}


/******************************************
/* LAYOUT
/*******************************************/
header {
  
}


.Navbar {
  display: flex;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.Navbar__Items {
  display:flex;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

/******************************************
/* MOBILE
/*******************************************/



@media screen and (max-width: 390px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display:none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  main {
    height: 600px;
    width: 100%;
    background: url("../css/images/hero_01.jpg") 49% 50% no-repeat;
    background-size: cover;
  }
  .hero {
    width: 230px;
    height: 300px;
    position: absolute;
    left: 50px;
    top: 320px;
    padding: 22px;
  }
  .row_1 {
    height: 2200px;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(360, 0%, 100%, 1);

  }
  .row_container, .about_con, .contactInfo_con {
    width: 100%;
    margin: 0 auto;
    padding: 25px;
  }
  .service {
    text-align: center;
    padding-top: 25px;
  }

  .row_container {
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2%;
  }

  .row_con {
    flex: 1;
    width: 90%;
    padding: 22px;
  }  

  .row_con i {
    font-size: 48px;  
  }
 
  .about {
    height: 600px;
  }

  footer{
    height: 600px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    padding: 3px;
  }
  p {
    font-size: 14px;
  }


}

@media (min-width: 391px) and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display:none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  main {
    height: 600px;
    width: 100%;
    background: url("../css/images/hero_01.jpg") 45% 50% no-repeat;
    background-size: cover;
  }
  .hero {
    width: 230px;
    height: 300px;
    position: absolute;
    left: 50px;
    top: 320px;
    padding: 22px;
  }
  .row_1 {
    height: 2200px;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(360, 0%, 100%, 1);

  }
  .row_container, .about_con, .contactInfo_con {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  .service {
    text-align: center;
    padding-top: 25px;
  }

  .row_container {
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2%;
  }

  .row_con {
    flex: 1;
    width: 100%;
    padding: 20px;
  }  

  .row_con i {
    font-size: 48px;  
  }
 
  .about {
    height: 600px;
  }

  footer{
    height: 600px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    padding: 3px;
  }
  p {
    font-size: 14px;
  }


}


/******************************************
/* Tablet
/*******************************************/

@media (min-width: 768px) and (max-width: 1120px) {
  main {
    height: 600px;
    background: url("../css/images/hero_01.jpg") 20% 50% no-repeat;
    background-size: cover;
  }
  .hero {
    background-color: #6798C0;
    width: 230px;
    height: 300px;
    position: absolute;
    left: 100px;
    top: 300px;
    padding: 22px;
  }
  .row_1 {
    height: 2150px;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(360, 0%, 100%, 1);

  }
  .row_container, .about_con, .contactInfo_con {
    width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  .service {
    text-align: center;
    padding-top: 25px;
  }

  .row_container {
    height: 1300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
  }

  .row_con {
    height: 300px;
    width: 70%;
    padding: 40px;
  }  
  .about {
    height: 600px;
  }
  footer{
    height: 800px;
  }

}

/******************************************
/* DESKTOP
/*******************************************/


@media (min-width: 1120px) {
  
  main {
    height: 600px;
    background: url("../css/images/hero_01.jpg") 20% 50% no-repeat;
    background-size: cover;
  }
  .hero {
    background-color: #6798C0;
    width: 230px;
    height: 300px;
    position: absolute;
    left: 200px;
    top: 300px;
    padding: 22px;
  }
  .row_1 {
    height: 1150px;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(360, 0%, 100%, 1);

  }

  .service ,  .row_container, .about_con, .contactInfo_con {
    width: 1150px;
    margin: 0 auto;
    padding: 25px;
  }
  
  .service {
    height: 100px;
  }

  .row_container {
    height: 990px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
  }

  .row_con {
    height: 300px;
    width: 48%;
    padding: 50px;
  }

  .about {
    height: 500px;
  }

  .about_info * {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_info {
    display: inline-block;
    height: 40% ;
    width: 60%;
    margin: 1%;
  }
  .about_info h3 {
    font-style: italic;
  }

  p {
    font-size: 1rem;
    margin: 0;
    padding: 2px;
    text-align: justify;
  }
  .about {
    height: 425px;
    
  }
}






.about_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-white h6 {
  padding: 7px;
  margin: 0;
}

.row_1 {
  background: white;
}

footer {
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(195, 50%, 95%, 1)
}

.contactInfo img {
  width: 100px;
}


.contactInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  ;
}

.contactInfo img {
  width: 35px;
}

.contactInfo h6 {
  line-height: 3px;
}

footer small {
  display: inline-block;
  float: right;
  font-size: 0.5rem;
  padding-right: 1%;
}



/******************************************
/* OVERALL COLOR
/*******************************************/


.Navbar, .hero, footer {
  background-color: #0077B6;
}

.row_1 {
  background-color: #FFFDF7;
  color: #0077B6;

}

.row_container {
  background-color: #FFFDF7;
  color: #6798C0;
}

.row_con  {
  background-color: #d5f3f9;
  color: #0077B6;
}

.about {
  background-color: #48CAE4;
}



/******************************************
/* TYPOGRAPHY
/*******************************************/


h1 {
  font-size: 1.7rem;
  margin: 0;
 }

h2 {
  padding-top: 20px;
  margin: 0;
}


h3 {
  margin: 0;
  padding: 5px 0;
}

h4 {
  font-weight: 300;
  margin: 0;
  padding: 5px 0;
}

h5 {
  margin: 0;
  padding: 5px 0;
}

h6 {
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
}


span {
   font-weight: 700;
   font-size: 1.1em;
 }

 .row_con i {
   font-size: 75px;  
 }

 
 
 

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.icon_major {
  background: #666;
  border-radius: 100%;
  color: #ffffff;
  cursor: default;
  display: inline-block;
  height: 5.5em;
  line-height: 5.5em;
  margin: 0 0 2em 0;
  width: 5.5em;
}

.btn-white {
  background-color: #FFFDF7;
  color: #6798C0;
  border-radius: 2px;
  width: 110px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

.btn-white:hover {
  color: hsla(360, 0%, 100%, 1) ;
  background-color: #FDC921;
}

.row_con {
  border-radius: 2%;
}

.circle {
  width: 75px;
  height: 75px;
  background: hsla(15, 100%, 91%, .7);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.headshot {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  padding: 20px 0;
  width: 100px;
}

.row_container * {
  text-align: center;
}


.about_info {
  text-align: justify;
  
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(195, 50%, 95%, 1);
  font-size: 14px;
  font-weight: 500;
  
}



/******************************************
/* CONTACT FORM
/*******************************************/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#FFFDF7;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #0077B6;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0077B6;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
