/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #FFFDF7;


}



/******************************************
/* TYPOGRAPHY
/*******************************************/


h1, h2, h3 {
  font-family: Comfortaa;
 }

h1 {
  font-size: clamp(1rem, 1rem + 1vw , 3rem); 
  margin: 0.5rem, 0;
}

h2 {
  font-size: clamp(2rem, 1rem + 1vw , 3rem);
  font-weight: 600;
}


h3 {
  margin: 0;
  padding: 5px 0;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  margin: 0.5rem;
}

h5 {
  margin: 0;
  padding: 5px 0;
}

h6 {
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
}


p {
 margin: 16px 0;
}

span {
   font-weight: 700;
   font-size: 1.1em;
 }

 .row_con i {
   font-size: 75px;  
 }

 
 .navName {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 36px;
  padding: 0;
}

.navName span {
  font-size: 16px;
  vertical-align: middle;
}

/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* NAV BAR
/*******************************************/


.Navbar {
  display: flex;
  padding: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #ffffff;
  flex-direction: column;
  position: relative;
  min-height: 8rem;
}

.Navbar .nav-logo {
  width: 8rem;
  position: absolute;
  left: 1rem;
  top: 10px;
}

.Navbar__Items,
.Navbar { 
  flex-direction: column;
}
/* 
.Navbar__Link a {
  float: right;
} */

.Navbar__Items {
  display:none;
}
.Navbar__Items--right {
  margin-left: 0;
}

.Navbar__Link-toggle { 
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 42px;
}

.Navbar a:hover {
  /* background-color: white; */
  color: #FFC300;
}

.navName span {
  display: none;
}

.Navbar a:hover {
  /* background-color: white; */
  color: #FFC300;
}

/******************************************
/* BODY
/*******************************************/

main {
  min-height: 600px;
  width: 100%;
  background: url("../css/images/hero_01.jpg") 60% 50% no-repeat;
  background-size: cover;
}
.hero {
  max-width: 15rem;
  max-height: 23rem;
  position: absolute;
  left: 3rem;
  top: 18rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row_1 {
  max-height: 2400px;
  width: 100%;
  margin: 0 auto;
  background-color: hsla(360, 0%, 100%, 1);

}
/* .about_con, .contactInfo_con {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
} */
.service,.testimonial, .about_con, .contactInfo_con {
  text-align: center;
  padding: 2vh 5vh;
  text-align: center;
  padding: 1rem 2rem;
  max-width: 570px;
  margin: 0 auto;
}

.contactInfo_con > .btn-white {
  margin: 0 auto;
}

.service,.testimonial{
  max-height: 12rem;
}


.about_con {
  min-height: 32rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_con .nav-logo {
  width: 10rem;
  margin: 0 auto;
}

footer {
  min-height: 22rem;
}

.contactInfo_con, .contactInfo {
  height: 100%;
}

.row_container {
  min-height: 500px;
  max-width: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.row_con {
  flex: 1;
  min-width: 16rem;
  min-height: 17rem;
  padding: 22px;
  margin: 1rem;
}  

.row_con i {
  font-size: 48px;  
}



/* .btn-white h6 {
  padding: 7px;
  margin: 0;
} */

.row_1 {
  background: white;
}



footer {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(195, 50%, 95%, 1)
}

.contactInfo img {
  width: 100px;
}


.contactInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  ;
}

.contactInfo img {
  width: 35px;
}

.contactInfo h6 {
  line-height: 3px;
}

footer small {
  display: inline-block;
  float: right;
  font-size: 0.5rem;
  padding-right: 1%;
  margin: 1rem 0;
}


/******************************************
/* CAROUSEL
/*******************************************/


.testimonial_titleDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: clamp(1rem, 1vw , 1.5rem);
  min-width: 10rem;
  min-height: 2rem;
  color: #FFC300;
}

.carouselTestimonial {
  position: relative;
  height: 550px;
  max-width: 30rem;
  margin: 0 auto;
}

.carousel__div {
  width: 95%;
  height: 100%;
  object-fit: cover;
  padding: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.carousel__div_top1, .carousel__div_top2, .carousel__div_top3 {
  min-height: 5rem;
}

.carousel__div_top1 {
  width: 10%;
}

.carousel__div_top2 {
  width: 80%;
  font-style: italic;
  font-size: 20px;
}

.carousel__div_top3 {
  width: 10%;
  text-align: end;
  vertical-align: bottom;
}

.carousel__div_bottom {
  width: 100%;
  height: 30%;
  text-align: end;
}

.carousel__div_bottom h5 {
  padding: 0;
}

.carousel__track-container {
  position: relative;
  height: 90%;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: 10px;
  z-index: 1;
}

.carousel__button--right{
  right: 10px;
}

.carousel__button img {
  width: 12px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  min-width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, .3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, .75);
}

.is-hidden { display: none; }

/******************************************
/* MEDIA QUERY
/*******************************************/
@media (min-width: 50em) {

  .Navbar {
    display: flex;
    flex-direction: row;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  

  .Navbar__Items {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .Navbar__Link {
    padding-right: 35px;
  }
  
  .Navbar__Items--right {
    margin-left:auto;
    padding-right: 8px;
  }
  
  .Navbar__Link-toggle {
    display: none;
  }
  
  .row_container {
    min-height: 500px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
  
@media (max-width: 50em) {
  .Navbar__ToggleShow {
    display: flex;
    align-items: flex-end;
    padding-right: 16px;
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 10;
    height: 80px;
    width: 100%;
  }
}



/* @media (min-width: 391px) and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display:none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .Navbar__Link {
    padding: 10px 0;
  }

  .navName a {
    font-size: .5rem;
  }

  

  .navName span {
    display: none;
  }

  main {
    height: 65vh;
    width: 100%;
    background: url("../css/images/hero_01.jpg") 45% 50% no-repeat;
    background-size: cover;
  }
  .hero {
    width: 20vh;
    height: 33vh;
    position: absolute;
    left: 5vh;
    top: 30vh;
    padding: 2vh;
  }

  .row_1 {
    height: 200vh;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(360, 0%, 100%, 1);

  }
  .row_container, .about_con, .contactInfo_con {
    width: 40vh;
    margin: 0 auto;
    padding: 20px;
  }

  .row_container {
    height: 115vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 2%;
  }

  .row_con {
    flex: 1;
    width: 100%;
    padding: 20px;
  }  

  .row_con i {
    font-size: 48px;  
  }
 
  .about {
    height: 64vh;
  }

  h3 {
    font-size: 16px;
  }
  h4 {
    padding: 3px;
  }
  p {
    font-size: 14px;
  }


}


/******************************************
/* Tablet
/*******************************************/

/* @media (min-width: 768px) and (max-width: 1120px) {
  
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display:none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .Navbar__Link {
    padding: 10px 0;
  }

  .navName a {
    font-size: .5rem;
  }

  .Navbar a:hover {
    background-color: white;
    color: #0077B6;
  }
  
  main {
    height: 62vh;
    background: url("../css/images/hero_01.jpg") 20% 50% no-repeat;
    background-size: cover;
  }
  .hero {
    width: 20vh;
    height: 33vh;
    position: absolute;
    left: 5vh;
    top: 30vh;
    padding: 2vh;
  }
  .row_1 {
    height: 235vh;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(360, 0%, 100%, 1);

  }
  .row_container, .about_con, .contactInfo_con {
    width: 65vh;
    margin: 0 auto;
    padding: 1vh;
  }

  .row_container {
    height: 98vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
  }

  .row_con {
    height: 300px;
    width: 70%;
    padding: 40px;
  }  
  .about {
    height: 56vh;
  }
} */

/******************************************
/* DESKTOP
/*******************************************/


/* @media (min-width: 1120px) {
  
  main {
    height: 800px;
    background: url("../css/images/hero_01.jpg") 20% 50% no-repeat;
    background-size: cover;
  }
  .hero {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 10vh;
    top: 30vh;
    padding: 2vh;
  }
  .row_1 {
    height: 1100px;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(360, 0%, 100%, 1);

  }

  .service ,  .row_container, .about_con, .contactInfo_con {
    width: 800px;
    margin: 0 auto;
    padding: 2vh;
  }
  
  .row_container {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
  }

  .row_con {
    height: 280px;
    width: 48%;
    padding: 15px;
  }

  .about {
    height: 500px;
  }

  .about_info * {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_info {
    display: inline-block;
    height: 40% ;
    width: 60%;
    margin: 1%;
  }
  .about_info h3 {
    font-style: italic;
  }

  p {
    font-size: 1rem;
    margin: 0;
    padding: 2px;
    text-align: justify;
  }
}
 */








/******************************************
/* OVERALL COLOR
/*******************************************/

.Navbar, .Navbar__ToggleShow, .hero, footer  {
  background-color: #001D3D
}

.row_1 {
  background-color: #FFFDF7;
  color: #003566;

}

.row_container {
  background-color: #FFFDF7;
  color: #003566;
}

.row_con  {
  background-color: #FFD60A;
  color: #003566;
}

.about {
  background-color: #FFD60A;
  color: #000814;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.icon_major {
  background: #666;
  border-radius: 100%;
  color: #ffffff;
  cursor: default;
  display: inline-block;
  height: 5.5em;
  line-height: 5.5em;
  margin: 0 0 2em 0;
  width: 5.5em;
}

.btn-white {
  background-color: #FFFDF7;
  color: #001D3D;
  border-radius: 0.2rem;
  width: 8rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem, 0;
 
}

.btn-white:hover {
  color: hsla(360, 0%, 100%, 1) ;
  background-color: #FFC300;
}

.circle {
  width: 75px;
  height: 75px;
  background: hsla(15, 100%, 91%, .7);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.headshot {
  border-radius: 50%;
  object-fit: fill;
  overflow: hidden;
  width: 100px;
  margin: 0 auto;
}

.row_container * {
  text-align: center;
}


.about_info {
  text-align: justify;
  
}

a {
  text-decoration: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: hsla(195, 50%, 95%, 1);
  font-size: 14px;
  font-weight: 500;
  
}
